/* Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --main-color: #239b7e;
  --main-font: "Playfair Display SC", serif;
  --primary-font: "Roboto", sans-serif;
}
body{
  background-color:#D0F0C0;
}
/*navigation starts*/
nav{
  font-family: var(--primary-font);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding:2rem;
  margin-bottom: 4rem;
}
.logo{
  margin-left: 4rem;
  font-size: large;
  font-weight: bold;
}
.icons{
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:var(--main-color);
  cursor: pointer;
}
.fa-house{
  margin-left:.8rem;
}
.fa-house:hover{
  color: #064334;
}
.fa-cart-shopping:hover{
  color: #064334;
}
.fa-phone:hover{
  color: #064334;
}
.fa-magnifying-glass:hover{
  color: #064334;
}
i{
  margin-left: 3.9rem;
}
.menu{
  margin-right: 4rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.menu span{
  border: 3px solid #239b7e;
  width: 40px;
  height: 2px;
  margin: 3px

}
/*navigantion end*/

/*head starts*/
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 90vh;
  margin-left: 5rem;
  padding: 20px;
}
header .heading{
  font-size: 1.6rem;
  font-style: var(--main-font);
  color: black;
}
  

.heading span{
  color: rgb(90, 88, 88);
}
.intro p{
  font-family: var(--primary-font);
  margin-top:1rem;
  max-width: 500px;
  font-size: 1.2rem;
  color: rgba(83, 55, 55, 0.851);
}
.button{
  margin-top: 1.1rem;
}
.b1{
  border: 1px solid var(--main-color);
  height: 50px;
  font-family: var(--primary-font);
  font-size: 1.02rem;
  width: 140px;
  background-color: #239b7e;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.b2{
  margin-left: 1.3rem;
  border: 1px solid var(--main-color);
  height: 50px;
  font-family: var(--primary-font);
  font-size: 1.02rem;
  width: 140px;
  border-radius: 10px;
  color: var(--main-color);
  font-weight: bolder;
  cursor: pointer;
}
.b1:hover{
  border: 1px solid var(--main-color);
  height: 50px;
  background-color: white ;
  font-family: var(--primary-font);
  font-size: 1.02rem;
  width: 140px;
  border-radius: 10px;
  color: var(--main-color);
  font-weight: bolder;
  cursor: pointer;
  transition: ease-out;
  transition-duration: .5s;
}
.b2:hover{
  border: 1px solid var(--main-color);
  height: 50px;
  background-color: var(--main-color);
  font-family: var(--primary-font);
  font-size: 1.02rem;
  width: 140px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  transition: ease-out;
  transition-duration: .5s;
}

div.headimg{
  box-shadow: 4px 7px 5px 2px #4f2910ed;
  border-radius: 100%;
  background-image: url(img1.jpg);
  background-position: top;
  background-size: cover;
  height: 400px;
  width: 400px;
  margin-top: -30px;
  
}
div.headimg:hover{
  background-image: url(img1mirror.jpg);
  background-position:top;
  background-size: cover;
  transition: ease-in;
  transition-duration: .3s;
}



@keyframes ani1 {
  0% {
    background-image: url(main22.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
    border-radius: 100%;
  }
  5% {
    background-image: url(main22.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
    border-radius: 100%;
  }
  20% {
    background-image: url(main5.webp);
    background-position: center;
    background-size: cover;
  }
  40% {
    background-image: url(main6.webp);
    background-position: top;
    background-size: cover;
  }
  60% {
    background-image: url(main3.webp);
    background-position: bottom;
    background-size: cover;
  }
  80% {
    background-image: url(main4.webp);
    background-position: top;
    background-size: cover;
  }
  95% {
    background-image: url(main22.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
    border-radius: 100%;
  }
  100% {
    background-image: url(main22.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
    border-radius: 100%;
  }
}
/*header ends*/
/*main section starts*/
main{
  margin: 4rem;
  display: flex;
  justify-content: space-around;
  height: 80vh;
}
main .mnimg{
  animation: ani1 8s infinite;
}
main .hdg{
  font-size: 1.6rem;
  font-style: var(--main-font);
  color: black;
}
main .hdg span{
  color: rgb(90, 88, 88);
}
main .import{
  margin-top:1.2rem;
}
div .detail{
  font-family: var(--primary-font);
  margin-top:1rem;
  max-width: 500px;
  font-size: 1.2rem;
  color: rgba(83, 55, 55, 0.851);
}
.check{
  margin-top:1.1rem;
  border: 2px solid var(--main-color);
  height: 50px;
  font-family: var(--primary-font);
  font-size: 1.02rem;
  width: 140px;
  background-color: #239b7e;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.check:hover{
  border: 1px solid var(--main-color);
  height: 50px;
  background-color: white ;
  font-family: var(--primary-font);
  font-size: 1.02rem;
  width: 140px;
  border-radius: 10px;
  color: var(--main-color);
  font-weight: bolder;
  cursor: pointer;
  transition: ease-out;
  transition-duration: .5s;
}
section.products{
  text-align: center;
  font-family: var(--primary-font);
  height:90vh;
  margin-bottom:2rem;
}
section.products button{
  margin-top: 2rem;
  margin-left: 30px;
  border: 1px solid var(--main-color);
  height: 50px;
  background-color: white ;
  font-family: var(--primary-font);
  font-size: 1.02rem;
  width: 140px;
  border-radius: 10px;
  color: var(--main-color);
  font-weight: bolder;
  cursor: pointer;
  transition: ease-out;
  transition-duration: .5s;
}
section.products button:hover{
  border: 1px solid var(--main-color);
  height: 50px;
  background-color: var(--main-color);
  font-family: var(--primary-font);
  font-size: 1.02rem;
  width: 140px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  transition: ease-out;
  transition-duration: .5s;
}
