/* Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --main-color: #239b7e;
  --main-font: "Playfair Display SC", serif;
  --primary-font: "Roboto", sans-serif;
}
body{
  background-color:#D0F0C0
}
/*navigation starts*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding:2rem;
}

